<div class="row">
<div class="col">
<h3>マイページ</h3>

<table>
  <tbody>
    <tr>
      <td scope="rowgroup">氏名</td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <th></th>
    </tr>
  </tbody>
</table>
</div>
</div>