<div class="container">
  <div class="row no-gutters">
    <div class="col-10">
      <h1 class="my-3 text-center"><b>About</b></h1>
      <p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。</p>
      <div class="col-lg-5 mx-auto my-3">
        <%= image_tag 'giftFTHG6732_TP_V4.jpg', size: "400x200" %>
      </div>
    </div>
  </div>
</div>